version: "3.9"

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: koishow-sql
    restart: always
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Namzuize@12345
    ports:
      - "1434:1433"
    volumes:
      - sql_data:/var/opt/mssql
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P Namzuize@12345 -Q 'SELECT 1' -C"]
      interval: 10s
      timeout: 5s
      retries: 10

  api:
    build:
      context: .
      dockerfile: KoiShow.APIService/Dockerfile
    container_name: koishow-api
    restart: always
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=sqlserver,1433;Database=FA24_SE171442_PRN231_AS_KoiShow;User Id=sa;Password=Namzuize@12345;TrustServerCertificate=True;Encrypt=False
    depends_on:
      sqlserver:
        condition: service_healthy

volumes:
  sql_data: